body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255); /* White background */
}

#image-container {
    position: relative;
    width: 50%;
    margin: 20px auto 40px; /* Adjust margin-bottom to add space between logo and content */
    overflow: hidden;
    text-align: center;
}

#image-container img {
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align containers in the center horizontally */
}

p {
    text-align: center;
    color: #000000; /* Black text color */
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold; /* Make text bold */
}

/* Updated folder container styles */
.folder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 25%; /* Each container occupies 25% of the parent's width */
    max-width: 200px; /* Limit the maximum width */
}

.folder-container a {
    text-decoration: none; /* Remove underline from the text */
    display: flex; /* Align image and text horizontally */
    flex-direction: column; /* Arrange image and text vertically */
    align-items: center; /* Center-align items */
}

.folder-container img {
    width: 70%;
    max-width: 100px;
    margin-bottom: 10px; /* Add space between image and text */
}

.folder-container p {
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Make text bold */
}

/* Updated MP3 container styles */
.mp3-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; /* Increase the margin between each MP3 container */
    width: calc(25% - 40px); /* Each container occupies 25% of the parent's width with increased margin */
    max-width: 200px; /* Limit the maximum width */
    margin-right: 100px; /* Increase the margin between each MP3 container */
}

.mp3-container a {
    text-decoration: none; /* Remove underline from the text */
    display: flex; /* Align image and text horizontally */
    flex-direction: column; /* Arrange image and text vertically */
    align-items: center; /* Center-align items */
    margin-bottom: 40px; /* Add space between rows */
}

.mp3-container img {
    width: 70%;
    max-width: 100px;
    margin-bottom: 20px; /* Add space between image and text */
}

.mp3-container p {
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Make text bold */
}

#navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Center the elements horizontally */
    align-items: center;
}

#navbar button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px; /* Add margin between buttons */
}

#mp3-timer-container {
    display: flex;
    align-items: center;
}

#mp3-timer {
    width: 150px;
    margin: 0 10px;
}
#navbar.hidden {
    display: none;
}

#play-pause-button {
    width: 20px; /* Adjust button width as needed */
    height: 20px; /* Adjust button height as needed */
    background-image: url('../img/pause.png'); /* Update the image path */
    background-size: cover; /* Scale the background image to cover the entire button */
    border: none;
    cursor: pointer;
}

#play-pause-button.playing {
    background-image: url('../img/play-buttton.png'); /* Update the image path */
}



@media only screen and (max-width: 600px) {
    .mp3-container {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center-align items horizontally */
        align-items: center; /* Center-align items vertically */
        width: auto; /* Set width to auto */
        max-width: 90%; /* Limit the maximum width of the containers */
        padding: 0 10px; /* Add padding to the sides */
    }

    .mp3-container img {
        width: 70%; /* Adjust the width of the image */
        max-width: 100px; /* Limit the maximum width of the images */
        margin-bottom: 10px; /* Add spacing between mp3 images */
    }

    .mp3-container p {
        margin: 0; /* Remove default margin */
        text-align: center; /* Center-align text */
    }
}





